*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    scroll-behavior: smooth;
}

body{
    background-color:  #FAF3F2;
}

.container_menu{
    position: absolute;
    margin: 0 auto;
    width: 100%;
    padding: 0.4%;
    background: rgba(59, 32, 11, 0.05);
    backdrop-filter: blur(5px);
}

.menu{
    margin: 0 auto;
    width: 70%;
    /* width: 1300px; */
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    font-family: 'Lato';
}

.menu_itens{
    display: flex;
    margin-right: 80px;
}

.menu_itens ul{
    display: flex;
    align-items: center;
}

.menu_itens ul li a:hover{
    color: #635352;
    font-weight: 700;
    transition: 0.3s;
}


.menu_itens a{
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    margin-right: 15px;
    color: #635352;
}

.itens_icones {
    display: flex;
}

.icones{
    display: flex;
}

.icones img{
    width: 30px;
    height: 30px;
    margin: 10px;
    align-items: center;
    cursor: pointer;
}

.itens_linha{
    width: 3px;
    height: 50px;
    margin-left: 5px;
    background-color: #B50B04;
}

.itens_contato{
    width: 123px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    
    border-radius: 4px;
    margin-left: 20px;
    background: #F59A1B;
}

.itens_contato p{
    font-size: 16px;
    font-weight: 700;
    margin-left: 5px;
    color: #34201F;
}
/* MENU MOBILE */

#menu_mobile{
    display: none;
}

.menu_mobile{
    display: flex;
    flex-direction: column;
    background-color: #F59A1B;
    width: 100%;
    height: 46%;
    position: absolute;
    top: 0;
    padding: 12px;
    animation: 0.6s menu_mobile;
    z-index: 1;
}

.header_mobile{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.header_mobile svg{
    stroke: rgba(29, 6, 5, 0.9);
    background: rgba(29, 6, 5, 0.15);
    border-radius: 3px;
}


.open_menu{
    display: none;
}

.open_menu svg{
    stroke: rgba(29, 6, 5, 0.9);
    background: rgba(29, 6, 5, 0.15);
    border-radius: 3px;
}

.body_mobile{
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Lato';
}

.body_mobile a{
    color: white;
}

.menu_mobile a {
    border-bottom: 0.02rem solid white;
    width: 70%;
    display: flex;
    justify-content: center;
    padding: 20px;
}

.menu_mobile a:last-child{
    border: none;
}

@keyframes menu_mobile {
    0% {
        top: -500px;
    }
    100% {
       left: 0px;
    }
}

@media(max-width: 1100px){
    .menu_itens {
        display: none;
    }
    .itens_icones{
        display: none;
    }

    .menu {
        align-items: center;
        justify-content: space-between;
        width: 100%;
        padding: 8px;
    }

    .open_menu{
        display: flex;
        justify-content: center;
        align-items: center;
        position: absolute;
        top: 0px;
        right: 0px;
        padding: 12px;
    }

    .menu_logo{
        padding: 0px;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
    }

    .menu_logo a {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .menu_logo a img{
        width: 130px;
    }

    header{
        padding: 20px;
        width: 100%;
    }

    .menu_items{
        margin: 0;
        padding: 0px;
        width: 100%;
        align-items: center;
    }
}
      
 