.cover{
    width: 100%;
    height: 545px;
    padding: 10px;
    background-image: url('../assets/banner-hero.png');
    background-size: cover;
    background-position: center;
}

.cover_items{
    margin: 0 auto;
    width: 78%;
    height: 545px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}

.titulo{
    font-family: 'Lato';
    font-weight: 700;
    font-size: 22.861px;
    line-height: 23px;
    color: rgba(29, 6, 5, 0.9);
}


.cover_items h1{
    font-family: 'Lilita One';
    font-weight: 400;
    font-size: 77.651px;
    line-height: 85px;
    color: rgba(29, 6, 5, 0.9);
}

.cor_font{
    color:#F59A1B;
}

.sub_titulo{
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    font-size: 22.861px;
    line-height: 32px;
}

.cor_paragrafo{
    width: 201.85px;
    height: 30.67px;
    padding: 2px;
    font-size: 25px;
    font-weight: bold;
    background-color: #F59A1B;
    border-radius: 6.35029px;
    color: rgba(29, 6, 5, 0.9);
}

.btn_cover{
    width: 200px;
    height: 52.32px;
    font-weight: 700;
    font-size: 22.861px;
    line-height: 32px;
    margin-top: 10px;
    font-family: 'Lato';
    border: none;
    color: white;
    background-color: #F43127;
    border-radius: 5.08023px;
    cursor: pointer;
    transition: 0.3s;
}

.btn_cover:hover{
    transition: 0.3s;
    transform: scale(1.1);
    background-color: #a1160f;
}

/* INFORMAÇÕES */

.cover_inf{
    margin: 0 auto;
    display: flex;
    position: absolute;
    width: 100%;
    margin-top: -50px;
}

.container{
    margin: 0 auto;
    display: flex;
    width: 60%;
    align-items: center;
    justify-content: space-around;
    background-color: white;
    box-shadow: 0px 4px 40px rgba(179, 155, 132, 0.5);
    border-radius: 10px; 
}

.itens{
    display: flex;
    padding: 20px;
    align-items: center;
}

.linha{
    width: 0px;
    height: 83.53px;
    margin-left: 60px;
    border: 1px solid rgba(73, 46, 21, 0.15);
}


.logo{
    padding: 15px;
    border-radius: 100%;
    background: #FAE2CB;
    margin-right: 20px;
}

.informacoes{
    font-family: 'Lilita One';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 22px;
    color: rgba(29, 6, 5, 0.9);
}

.informacoes_1{
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: rgba(29, 6, 5, 0.69);
}

/* @media(max-width: 1580px){
    
} */
@media(max-width: 1600px){
    .container{
        justify-content: space-evenly;
    }
    
    .itens{
        display: flex;
        padding: 8px;
    }
    
    .logo{
        padding: 8px;
        margin-right: 10px;
    }
    
    .informacoes{
        font-size: 12px;
        line-height: 12px;
    }
    
    .informacoes_1{
        font-size: 10px;
        line-height: 10px;
    }

    .linha{
        margin-left: 50px;
    }
}

@media(max-width: 1200px){  
    .itens{
        display: flex;
        padding: 5px;
    }
    
    .logo{
        padding: 8px;
        margin-right: 10px;
    }
    
    .informacoes{
        font-size: 12px;
        line-height: 12px;
    }
    
    .informacoes_1{
        font-size: 10px;
        line-height: 10px;
    }
}

@media(max-width: 900px){
    .container{
        display: block;
        width: 100%;
        margin: 20px;

    }

    .logo{
        padding: 15px;
    }
    
    .itens{
        margin: 10px;
    }

    .itens:nth-child(2){
        border-top: 1px solid rgba(73, 46, 21, 0.15);
        border-bottom: 1px solid rgba(73, 46, 21, 0.15);
    }

    .linha{
        width: 0px;
        height: 83.0px;
        margin-left: 0px;
        border: none;
    }
}


@media(max-width: 1300px){
    .cover_items{
        width: 100%;
    }
}

@media(max-width: 800px){
    .cover{
        width: 100%;
        height: 855.46px;
        background-image: url('../assets/banner-mobile.png');
    }

    .cover_items{
        width: 100%;
        margin-top: 70px;
        flex-direction: column;
        align-items: flex-start;
        justify-content: start;
    }

    .titulo{
        font-style: normal;
        font-weight: 700;
        font-size: 18px;
        line-height: 25px;
        color: rgba(29, 6, 5, 0.9);
    }
    
    
    .cover_items h1{
        font-style: normal;
        font-weight: 400;
        font-size: 53.3477px;
        line-height: 59px;
    }


    .sub_titulo{
        font-size: 16px;
        line-height: 22px;
    }
    
    .cor_paragrafo{
        padding: 2px;
        font-size: 25px;
        font-weight: bold;
        font-size: 16px;
        width: 142.31px;
        height: 24.08px;
        left: 154.5px;
        top: 186px;
        border-radius: 5px;
    }

    .btn_cover{
        margin-top: 10px;
        font-style: normal;
        font-size: 16px;
        line-height: 22px;
        width: 151.64px;
        height: 43.32px;
        left: 23.85px;
        top: 225.23px;
    }
}